.mainNews {
	padding: 4px;
	padding-top: 15;
	min-height: 82.6%;
	height: auto;
}

.commLine {
	margin-left: 19;
}

.mainText {
	min-height: 74%;
	height: auto;
}

.right {
	float: right;
}

.bottomspace {
	margin-bottom: 20px;
}

.button {
	width: 50%;
}

div.delete {
	float: right;
}

a.news {
	font-weight: bold;
	margin-top: 19 px;
	padding: 19px;
}

a.date {
	font-weight: bold;
	text-decoration: underline;
}

.shortText {
	padding: 19px;
	word-wrap: break-word;
	width: 90%;
}

div.commentText {
	background-color: silver;
	word-wrap: break-word;
	width: 50%;
	margin-bottom: 10px;
	height: 30;
}

input.in {
	margin-top: 15px;
	width: 50%;
	height: 8%;
	margin-bottom: 5px;
}

input.but {
	padding: 0.6em;
	align: right;
}

.divRight {
	float: right;
}

.commentingArea {
	width: 50%;
	height: 8%;
	margin-bottom: 5px;
}

.navifgationPanel {
	height: 3%;
	margin-top: 40;
}