.header {
	border: 2px solid black;
	height: auto;
	min-height: 11%;
	margin-left: 3;
	margin-top: 3;
	margin-right: 3;
	border-bottom-width: 0;
}
a:link {
 color: blue;
}

a:visited {
 color: blue;
}

.content {
	border: 1px solid grey;
	min-height: 85%;
	height: auto;
	width: 77.2%;
	padding: 3px;
	margin-left: 3;
	margin-right: 3;
	display: inline-block;
}

.footer {
	border: 2px solid black;
	height: auto;
	min-height: 2%;
	margin-left: 3;
	margin-botton: 3;
	margin-right: 3;
	border-top-width: 0;
	  padding-top: 2;
}

.menu{
	border: 2px solid white;
	height: auto;
	min-height: 2%;
	margin-left: 3;
	margin-botton: 3;
	margin-right: 3;
	width: 19.8%;
	float: left;
	background-color: darkgray;
}

.main {
	border: 2px solid black;
	min-height: 80%;
	height: auto;
	padding: 3px;
	margin-left: 3;
	margin-right: 3;
}